:root {
    --primario: #233E54;
    --secundario: #93c5e4;
    --terceario: #da4944;
    --quartenario: #f8cc48;
    --quintenario: #ffffff;
    --fonte: 'Poppins', sans-serif;
}
html, body{
    min-height:100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
    display: flex;
    background-color: var(--secundario);
}
#menu{
    background-color: var(--primario);
    position: sticky;
    min-height: 100vh;
    top: 0;
    width: 30%;
    color: var(--quintenario);
}

.divColuna{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    margin-top: 2%;
    width: 80%;
    max-height: 25em;
    max-width: 25em;
}

.dados{
    margin-top: 20px;
    width: 90%;
}

.dados input{
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 100%;
    font-family: var(--fonte);
}

.dados select{
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 100%;
    font-family: var(--fonte);
    text-align: center;
}

.dados textarea{
    border-radius: 10px;
    border: none;
    width: 100%;
    font-size: 100%;
    font-family: var(--fonte);
}

.btnMenu{
    display: flex;
    margin-top: 20px;
}

#btnLimpar{
    margin: 10px;
    font-family: var(--fonte);
    font-size: 100%;
    border-radius: 15px;
    border: none;
    width: 100px;
    background-color: var(--terceario);
    color: black;
}

#btnSalvar{
    margin: 10px;
    font-family: var(--fonte);
    font-size: 100%;
    border-radius: 15px;
    border: none;
    width: 100px;
    background-color: var(--quartenario);
    color: black;
}

#lista{
    margin-left: 50px;
    margin-right: 50px;
    width: 70%;
}
#contadores{
display: flex;
justify-content: center;
padding: 5px;
}

.contador{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-left: 20px;
    border-radius: 100%;
    width: 120px;
    height: 120px;

}
.contador p{
    font-size: 2em;
    margin-top: -15px;
}

#pesquisa{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pesquisa input{
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 100%;
    font-family: var(--fonte);
    margin-right: 5px;
}

#btnPesquisar{
    font-family: var(--fonte);
    font-size: 100%;
    border: solid black 1px;
    width: 100px;
    background-color: var(--quartenario);
}
#btnLimpaPesquisa{
    font-family: var(--fonte);
    font-size: 100%;
    border: solid black 1px;
    width: 100px;
    background-color: var(--quartenario);
}

#cards{
    margin-top: 20px;
    height: 75vh;
    border: solid black 1px;
    border-radius: 30px;
}

#cardsInterno{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    margin: 20px;
    height: 90%;
}

#cardsInterno::-webkit-scrollbar {
    width: 0.2em;
    margin-right: 5px;
}
 
#cardsInterno::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#cardsInterno::-webkit-scrollbar-thumb {
  background-color: var(--quartenario);
  outline: 1px solid var(--quartenario);
}
